.text-rounded-white
  width: auto
  display: inline-block
  background: white
  color: $color-acento-contenido
  padding: 4px 8px
  border-radius: 10px
  font-weight: 800

.no-gutters
  margin-right: 0
  margin-left: 0

  > .col,
  > [class*="col-"]
    padding-right: 0
    padding-left: 0
.justify-text
  text-align: justify
.color-primario-mas-claro
  background-color: rgba(9, 178, 145, 0.25)
.color-primario-mas-claro2
  background-color: rgba(9, 178, 145, 0.20)
.bloque-texto-a.color-primario
  background-color: rgb(233, 233, 233)
.color-acento-contenido-p
  background-color: $color-acento-contenido
.color-tarjeta-rojo-claro
  background-color: #FDEFEF
.tabla-a
  > table > tbody > tr > td
    font-size: 14px
    text-align: center
.tabla-b
  > table > tr > td
    font-size: 14px
  > table > tr > th
    font-size: 14px
    padding: 10px 20px
.tarjeta--azul
  background-color: rgb(246, 246, 246)
.text-size-14
  font-size: 14px
.tabs-a__tab
  background-color: rgb(246, 246, 246)
.TC1
  background-color: #F6F6F6 !important
.TC2
  background-color: white !important

.mmbn4
  margin-bottom: -1.5rem !important

.cajon_with_square_red:after
  content: ''
  display: block
  width: 30px
  height: 30px
  background-color: #E94B46
  position: absolute
  right: 20px
  bottom: 20px
.cajon_with_square_green:after
  content: ''
  display: block
  width: 30px
  height: 30px
  background-color: #09B291
  position: absolute
  right: 20px
  bottom: 20px
.cajon_with_square_green:before
  background-color: #09B291!important
.border-radius-c
  border-radius: 1.5rem
.img-height
  height: 90px
.background-primario
  background-color: #09B291!important
.tabs-a__tab__selected
  color: white
.tabs-a__tab:focus
  color: white
.tabs-a__tab:hover
  color: white
.acordeon-fake
  background-color: #F6F6F6
  border-radius: 25px

.banner-principal__img
  animation-name: yoyo
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

  @keyframes yoyo
    0%
      transform: translatey(0px)    
    50%
      transform: translatey(-5px)
    100%
      transform: translatey(0px)  

.text-in
  -webkit-animation: text-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both
  animation: text-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both

@-webkit-keyframes text-in
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1

@keyframes text-in
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1        

.zoom  
  animation-name: zoom
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate    
@keyframes zoom
  0%  
    transform: scale(1.0)
  50%  
    transform: scale(1.1)     
  100%  
    transform: scale(1.0) 

.swing  
  animation-name: swing
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

  @keyframes swing
    0%
      transform: translatex(0px)    
    50%
      transform: translatex(-5px)
    100%
      transform: translatex(0px)        