.text-rounded-white
  width: auto
  display: inline-block
  background: white
  color: $color-acento-contenido
  padding: 4px 8px
  border-radius: 10px
  font-weight: 800

.no-gutters
  margin-right: 0
  margin-left: 0

  > .col,
  > [class*="col-"]
    padding-right: 0
    padding-left: 0
.justify-text
  text-align: justify
.color-primario-mas-claro
  background-color: rgba(9, 178, 145, 0.25)
.color-primario-mas-claro2
  background-color: rgba(9, 178, 145, 0.20)
.bloque-texto-a.color-primario
  background-color: rgb(233, 233, 233)
.color-acento-contenido-p
  background-color: $color-acento-contenido
.color-tarjeta-rojo-claro
  background-color: #FDEFEF
.tabla-a
  > table > tbody > tr > td
    font-size: 14px
    text-align: center
.tabla-b
  > table > tr > td
    font-size: 14px
  > table > tr > th
    font-size: 14px
    padding: 10px 20px
.tarjeta--azul
  background-color: rgb(246, 246, 246)
.text-size-14
  font-size: 14px
.tabs-a__tab
  background-color: rgb(246, 246, 246)
.TC1
  background-color: #F6F6F6 !important
.TC2
  background-color: white !important

.mmbn4
  margin-bottom: -1.5rem !important

.cajon_with_square_red:after
  content: ''
  display: block
  width: 30px
  height: 30px
  background-color: #E94B46
  position: absolute
  right: 20px
  bottom: 20px
.cajon_with_square_green:after
  content: ''
  display: block
  width: 30px
  height: 30px
  background-color: #09B291
  position: absolute
  right: 20px
  bottom: 20px
.cajon_with_square_green:before
  background-color: #09B291!important
.border-radius-c
  border-radius: 1.5rem
.img-height
  height: 90px